html { 
    background: url('images/welcomebg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* #navmenu {
    position: fixed !important;
} */

/* Setting a black background color to the top navigation */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    display: inline-block;
    background-color: rgb(158, 196, 204);
    overflow: hidden;
    top: 30%; /* Position the navbar at the top of the page */
}

/* Style the links inside the navigation bar */
.navbar a {
    
    color: #050404;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style to change color of links on hover */
.navbar a:hover {
    background-color: rgb(240, 102, 102);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
  }

h1 {
    text-align: center;
}

/* Setting the Get Started! button */
#buttonGo {
    position: absolute;
    top: 45%;
    left: 45%;
    padding: 1%;
    border: 3px solid rgb(197, 236, 197);
    color: rgb(17, 15, 13);
    background-color: rgb(201, 198, 186);
}


/* Setting background wallpaer for Webpage */
body {
    background: no-repeat center center fixed;
    background-image:url('images/welcomebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin:0%;
    padding-bottom: 50px;
}

/* Setting the styling for the gif (center) in welcome page */
#gif1 {
    /* margin: 150px 50px 50px 150px; */
    padding-top: 8%;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stlying the text backdrop */
.text {
    height: 500px;
    width: 850px;
    background:url(images/sakura.gif);
    background-size: 850px, 500px;
    text-align: center;
    font-size: 170px;
    font-family: 'Raleway', sans-serif;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
}

/* #display_image {
    width: 200px;
    height: 100px; */
    /* border: 1px solid black; */
    /* background-position: 20%;
    background-size: cover;
} */



/* Styling for username */
#username {
    text-align:center;
    margin: 0;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Styling for password */
#password {
    text-align:center;
    margin: 0;
    /* position: absolute; */
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Styling for Submit button */
#buttonLogin {
    text-align:center;
    margin: 100;
    /* position: absolute; */
    top: 1060%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Styling for login button on hover*/
#buttonLogin:hover {
    background: #589fd6;
    color: #fff;
    border: 1px solid #eee;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}


/* Styling for back button */
#back {
    text-align:center;
    margin: 0;
    /* position: absolute; */
    top: 1500%;
    left: 49.7%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Styling for back button on hover */
#back:hover {
    background: #4d5358;
    color: #fff;
    border: 1px solid #eee;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.imgContainer {
    position: relative;
    float: left;
    padding: 50px;
    /* height: 200px;
    width: 200px; */
}

#page {
    /* position: relative; */
    margin: auto;
    display: block;
}

#upload {
    margin-top: 20px;
}

.center {
    display: flex;
}


@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
  }

