<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

    <body> 
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- <form action="/community" method= "GET" class="mt-5" > -->
                        
                        <h3 class="display-6 mt-5">Hey Beer Lovers, Sharing is Caring!</h3>
                        
                        <figure>
                            <blockquote class="blockquote mt-3 ml-3">
                            <p>"Not all chemicals are bad. Without chemicals such as hydrogen and oxygen, there would be no way to make water, a vital ingredient in beer."</p>
                            </blockquote>
                            <figcaption class="blockquote-footer ml-3">
                            From <cite title="Source Title">Dave Barry</cite>
                            </figcaption>
                        
                        </figure>
                </div>
            </div>
        </div>
                <!-- </form> -->
                <div class="container" id="page">
                    <div class="row">
                        <div class="imgContainer col-md-3">
                            <!-- <p>q</p> -->
                            <img src="images/b1.png" alt="light pink flower" height="100%" width="100%" style="min-height:200px; min-width:200px; max-height:200px; max-width:200px;">
                            <div>
                                <p>Carlsberg, the best beer</p>
                            </div>
                        </div>
    
                        
                            <div th:each="i: ${images}" class="imgContainer col-md-3">
                                <!-- <img th:src="@{/post/:id/image}(id=${i})">
                                    <span></span> -->
                            <!-- </img src="/@{${post.photosImagePath}}" alt="" class="img-responsive"> -->
                            </div>
                    </div>
                 </div>
                        
        
    
                    <div class="container" id="upload">
                        <p><span><b>Cant Find What You're Looking For?  Share them here!</b></span></p>
                        <!-- change from post to market -->
                        <!-- <form  action="/market" object="${post}" method= "POST" enctype="multipart/form-data" accept="image/*" class="" style="position: relative;"> -->
                        <form  action="/market" method= "POST" enctype="multipart/form-data" accept="image/*" class="" style="position: relative;">
                            <table>
                                <tr>
                                    <td>Image: </td>
                                    <td>
                                        <div class="display-image" id="displayImage">
                                            <!-- Figure this out to put no image added yet -->
                                            <img src="#" class="image-upload" height="200" width="200" placeholder="No Image Added" alt="Click to add below!">
                                        </div>
                                        <br>                             
                                        <input type="file" name="image" id="imageInput" class="mb-1 ml-1" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Comment: </td>
                                    <td>
                                        <textarea name="comment" id="" cols="30" rows="4" class="ml-1" placeholder=" Give a short decription: " required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Poster: </td>
                                    <td>
                                        <input type="text" name="poster" id="" class="ml-1" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!--This is a back button to go back to the previous page-->
                                        <!-- <form action="/">
                                            <input type="button" value="Go back" id="back1" class="mt-2 ml-1" onclick="history.back()">
                                        </form> -->
                                    </td>
                                    <td style="height: 10px; width: 10px">
                                        <input type="reset" class="mt-2 ml-1" name="reset">
                                    </td>
                                    <td>
                                        <button type="submit" class="mt-2">Submit</button>
                                    </td>
                                </tr>
    
                            </table>
                        </form>
                    </div>

    <!-- Place script tag here so it will work -->
        <script type="text/javascript" src="style.js"></script>
    </body>
    <!-- <footer>
    <p>Posted by: Dena</p>
    <p>Contact information: Blogger@NYC.com</p>
  </footer> -->
</html>