<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1>Poster: <span data-th-text="${post.poster}"></span></h1>

    <div>
        <!-- change from /post to /market -->
        <img data-th-src = "@{/market/{postId}/image(postId=${post.postId})}" alt="Picture" width="200" height="200">
        <!-- <img data-th-src = "@{market/image({post.postId}/image})" alt="/"> -->

    </div>

    <h3><i>Description: </i><span data-th-text = "${post.comment}"></span></h3>
</body>
</html>