<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

    <body> 
        <div th:replace="fragments/header :: header"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="mt-5">Your search result of: <code data-th-text="${searchId}"></code></h1>
                    </div>
                </div>

                <table>
                    <tr th:each="image: ${imageList}">
                        <td>
                            <img th:src="${image}" width="120" height="400">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="mt-5">Name of Beer: </h5>
                            <p th:text="${name}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="mt-5">Description: </h5>
                            <p th:text="${description}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 class="mt-5">Brewers Tips: </h5>
                            <p th:text="${tips}"></p> 
                        </td>
                    </tr>
                </table>

                <div class="row mt-3">
                    <div class="col d-flex justify-content-end">
                        <a href="/welcome" class="btn btn-info btn-lg">Back</a>
                    </div>
                </div>
            </div>
                
    </body>
</html>