<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

    <body> 
        <div th:replace="fragments/header :: header"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="mt-5">Your search result of: <code data-th-text="${searchId}"></code></h1>
                    </div>
                </div>

                <table>
                    <tr th:each="beer: ${list}">
                        <td width="20%">
                            <img th:src="${beer.imageUrl}" width="120" height="400" class="mt-5 ml-5">
                        </td>

                        <td>
                            <div class="center">
                                <p class="lead text-info"><b><label for="name">Name of Beer: &nbsp;</label></b></p>
                                <span class="mt-1" th:text="${beer.name}"></span>
                            </div>
                        <br>
                            <div class="center">
                                <p class="lead text-info"><b><label for="description">Description:&nbsp;&nbsp;&nbsp;</label></b></p>
                                <span class="mt-1" th:text="${beer.description}"></span>
                            </div>
                        <br>
                            <div class="center">
                                <p class="lead text-info"><b><label for="tips">Brewers Tips:&nbsp;</label></b></p>
                                <span class="mt-1" th:text="${beer.tips}"></span>
                            </div>
                        </td>
                    </tr>  
                </table>

                <div class="row mt-3">
                    <div class="col d-flex justify-content-end">
                        <a href="/welcome" class="btn btn-info btn-lg">Back</a>
                    </div>
                </div>
            </div>
                
    </body>
</html>