<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

    <body> 
        <div th:replace="fragments/header :: header"></div>

            <!-- <figure> -->
                <div class="container" id="gif1">
                    <div class="text">D'BEER</div>   
                </div>
                <figcaption>
                    <div style="text-align:center">
                        <p>A Place Where Alcohol and Friends Come Together<p>
                    </div>
                </figcaption>
            </figure>
    </body>
</html>